nltk==3.9.2
pandas==2.3.3
numpy==2.0.2
matplotlib==3.9.4
seaborn==0.13.2
scipy==1.13.1
torch==2.8.0
transformers==4.57.6
tf-keras==2.20.1
tqdm==4.70.0
ipywidgets==8.1.8
ipykernel==6.31.0
jupyter_client==8.6.3
